{% extends "root.html" %}

{% block main %}

<h2>Kit</h2>

<h3>Devices</h3>


<table>
    <tr>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Type</th>
    </tr>

    {% for Device in InDevices %}
    <tr class="input">
        <td>{{ Device['Manufacturer'] }}</td>
        <td>{{ Device['Model'] }}</td>
        <td>{{ Device['Type'] }}</td>
    </tr>
    {% endfor %}
    
    {% for Device in OutDevices %}
    <tr class="output">
        <td>{{ Device['Manufacturer'] }}</td>
        <td>{{ Device['Model'] }}</td>
        <td>{{ Device['Type'] }}</td>
    </tr>
    {% endfor %}
    
       
</table>


<h3>Stage Boxes</h3>

<table>
    <tr>
        <th>ID</th>
        <th>Inputs</th>
        <th>Outputs</th>
    </tr>

    {% for Device in Stageboxes %}
    <tr>
        <td>{{ Device['ID'] }}</td>
        <td>{{ Device['Inputs'] }}</td>
        <td>{{ Device['Outputs'] }}</td>
    </tr>
    {% endfor %}

       
</table>
{% endblock %}