{% extends "root.html" %}

{% block main %}
<h2>{{ShowName}}</h2>

<h2>Kit List</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Type</th>
    </tr>
    
    {% for Device in InDevicesKit %}
        <tr class="input">
            <td>{{ Device['ID'] }}</td>
            <td>{{ Device['Manufacturer'] }}</td>
            <td>{{ Device['Model'] }}</td>
            <td>{{ Device['Type'] }}</td>
        </tr>
    {% endfor %}
    
    {% for Device in OutDevicesKit %}
        <tr class="output">
            <td>{{ Device['ID'] }}</td>
            <td>{{ Device['Manufacturer'] }}</td>
            <td>{{ Device['Model'] }}</td>
            <td>{{ Device['Type'] }}</td>
        </tr>
    {% endfor %}
</table>
<h2>Patch List</h2>
<table>
    <tr>
        <th>StageBox ID</th>
        <th>Port</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Type</th>
        <th>Label</th>
    </tr>
    
    {% for Device in InDevicesPatch %}
        <tr class="input">
            <td>{{ Device['ID'] }}</td>
            <td>{{ Device['Port'] }}</td>
            <td>{{ Device['Manufacturer'] }}</td>
            <td>{{ Device['Model'] }}</td>
            <td>{{ Device['Type'] }}</td>
            <td>{{ Device['Label'] }}</td>
        </tr>
    {% endfor %}

    {% for Device in OutDevicesPatch %}
        <tr class="output">
            <td>{{ Device['ID'] }}</td>
            <td>{{ Device['Port'] }}</td>
            <td>{{ Device['Manufacturer'] }}</td>
            <td>{{ Device['Model'] }}</td>
            <td>{{ Device['Type'] }}</td>
            <td>{{ Device['Label'] }}</td>
        </tr>
    {% endfor %}
</table>

<h2>Stage Boxes</h2>

{% for StageBox in StageBoxes %}
    <h3>Stagebox {{StageBox["ID"]}}</h3>
    <table>
        <tr>
            <th>Port</th>
            <th>Manufacturer</th>
            <th>Modle</th>
            <th>Type</th>
            <th>Label</th>
            <th>Add/Remove</th>
        </tr>
        {% for Device in StageBox['Inputs'] %}
        <tr class="input">
            <td>{{ Device['Port'] }}</td>
            
            {% if  Device['Manufacturer'] == "" %}
            <!-- <td>Empty</td> -->
                <form action="{{ url_for('AddInputDevice') }}" method="post">
                    <input type="hidden" name="ShowID" value="{{showid}}">
                    <input type="hidden" name="StageBoxID" value="{{StageBox['ID']}}">
                    <input type="hidden" name="Port" value="{{Device['Port']}}">
                    <td colspan=2><input type="text" name="BarcodeID" placeholder="Enter Barcode"></td>
                    <td colspan=2><input type="text" name="Label" placeholder="Enter a label"></td>
                    <td><input type = 'submit' value="Add"></td>
                    
                </form>
            {% else %}
            <td>{{ Device['Manufacturer'] }}</td>
            <td>{{ Device['Model'] }}</td>
            <td>{{ Device['Type'] }}</td>
            <td>{{ Device['Label'] }}</td>
            <td><a href = "{{ url_for('Remove_Input_Mapping', InputMappingID=Device['InputMappingID']) }}">Remove</a></td>
            {% endif %}

        </tr>
        
    {% endfor %}
    
    {% for Device in StageBox['Outputs'] %}
    <tr class="output">
        <td>{{ Device['Port'] }}</td>
        {% if  Device['Manufacturer'] == "" %}
            <td colspan = 4>Empty</td>
            <td>Add</td>
        {% else %}
            <td>{{ Device['Manufacturer'] }}</td>
            <td>{{ Device['Model'] }}</td>
            <td>{{ Device['Type'] }}</td>
            <td>{{ Device['Label'] }}</td>
            <td><a href = "{{ url_for('Remove_Output_Mapping', OutputMappingID=Device['OutputMappingID']) }}">Remove</a></td>
        {% endif %}
    </tr>
        
    {% endfor %}
</table>
<p><a href = "{{ url_for('RemoveStageBox',ShowID = showid,StageBoxID = StageBox['ID']) }}">Remove StageBox</a></p>
{% endfor %}

<h2>Add a stage box</h2>

<form action="{{ url_for('AddStageBox') }}" method="post">
    <input type="hidden" name="ShowID" value={{showid}}>
    <select name="StageBoxID">
        {% for StageBox in sbids %}
                <option value={{StageBox}}>StageBox {{StageBox}}</option>
        {% endfor %}
    </select>
    <input type="submit">
</form>

{% endblock %}