{% extends "root.html" %}

{% block main %}
<h2>{{ShowName}}</h2>

<h2>Kit List</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Type</th>
    </tr>
    
    {% for Device in InDevicesKit %}
    <tr class="input">
        <td>{{ Device['ID'] }}</td>
        <td>{{ Device['Manufacturer'] }}</td>
        <td>{{ Device['Model'] }}</td>
        <td>{{ Device['Type'] }}</td>
    </tr>
    {% endfor %}
    {% for Device in OutDevicesKit %}
    <tr class="output">
        <td>{{ Device['ID'] }}</td>
        <td>{{ Device['Manufacturer'] }}</td>
        <td>{{ Device['Model'] }}</td>
        <td>{{ Device['Type'] }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Patch List</h2>
<table>
    <tr>
        <th>StageBox ID</th>
        <th>Port</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Type</th>
        <th>StripPosition</th>
        <th>Label</th>
    </tr>
    
    {% for Device in InDevicesPatch %}
    <tr class="input">
        <td>{{ Device['ID'] }}</td>
        <td>{{ Device['Port'] }}</td>
        <td>{{ Device['Manufacturer'] }}</td>
        <td>{{ Device['Model'] }}</td>
        <td>{{ Device['Type'] }}</td>
        <td>{{ Device['StripPosition'] }}</td>
        <td>{{ Device['Label'] }}</td>
    </tr>
    {% endfor %}

    {% for Device in OutDevicesPatch %}
    <tr class="output">
        <td>{{ Device['ID'] }}</td>
        <td>{{ Device['Port'] }}</td>
        <td>{{ Device['Manufacturer'] }}</td>
        <td>{{ Device['Model'] }}</td>
        <td>{{ Device['Type'] }}</td>
        <td>{{ Device['StripPosition'] }}</td>
        <td>{{ Device['Label'] }}</td>
    </tr>
    {% endfor %}
</table>
<h2>Stage Boxes</h2>
{% for StageBox in StageBoxes %}
<h3>Stagebox {{StageBox["ID"]}}</h3>
<table>
    <tr>
        <th>Port</th>
        <th>Manufacturer</th>
        <th>Modle</th>
        <th>Type</th>
        <th>Label</th>
        <th>Add/Remove</th>
    </tr>
    {% for Device in StageBox['Inputs'] %}
    <tr class="input">
        <td>{{ Device['Port'] }}</td>
        
        {% if  Device['Manufacturer'] == "" %}
        <td colspan = 4>Empty</td>
        <td>Add</td>
        {% else %}
        <td>{{ Device['Manufacturer'] }}</td>
        <td>{{ Device['Model'] }}</td>
        <td>{{ Device['Type'] }}</td>
        <td>{{ Device['Label'] }}</td>
        <td><a href = "{{ url_for('Remove_Input_Mapping', InputMappingID=Device['InputMappingID']) }}">Remove</a></td>
        {% endif %}

    </tr>
        
    {% endfor %}
    
    {% for Device in StageBox['Outputs'] %}
    <tr class="output">
        <td>{{ Device['Port'] }}</td>
        {% if  Device['Manufacturer'] == "" %}
        <td colspan = 4>Empty</td>
        <td>Add</td>
        {% else %}
        <td>{{ Device['Manufacturer'] }}</td>
        <td>{{ Device['Model'] }}</td>
        <td>{{ Device['Type'] }}</td>
        <td>{{ Device['Label'] }}</td>
        <td><a href = "{{ url_for('Remove_Output_Mapping', OutputMappingID=Device['OutputMappingID']) }}">Remove</a></td>
        {% endif %}
    </tr>
        
    {% endfor %}
</table>
{% endfor %}


{% endblock %}