h1 {
    color: rgb(24, 73, 132);
}

div.footer {
    background-color: blueviolet;
}

#mainindex {
    color: red;
}

th {
    color: white;
    background-color: darkgray;
}

td {
    background-color: #CCC;
}

td,th {
    padding: 0.2em;
}



tr.input td {
    background-color: lightgreen;
}

tr.output td {
    background-color: lightsteelblue;
}


