h1 {
    color: rgb(24, 73, 132);
}

div.footer {
    background-color: blueviolet;
}

#mainindex {
    color: red;
}

th {
    color: white;
    background-color: darkgray;
}

td {
    background-color: #CCC;
}

td,th {
    padding: 0.2em;
}



tr.input td {
    background-color: lightgreen;
}

tr.output td {
    background-color: lightsteelblue;
}


#capturebarcode {
    display:flex;
    justify-content:center;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

#videodiv {
    background-color: white;
    padding:1em;
    text-align: center;
}

#canvas {
    display: none;
}
#photo {
    display: none;
}

.icon {
    width: 15px;
    height: 15px;
}